body {
  margin: 0;
  font-family: 'Scope One', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Scope One', serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}